* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    background-color: yellow;
    width: 100%;
}

ul.TopNav {
    display: block;
    overflow: hidden;
}

ul.TopNav li {
    float: left;
    list-style: none;
    padding: 20px 15px;
}

ul.TopNav li a {
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: Black;
    min-height: 16px;
}

ul.TopNav li.SideMenu {
    float: right;
}

ul.TopNav li.SideNav {
    display: none;
}

@media (max-width: 600px){
    ul.TopNav li:not(:nth-child(1)) {
        display: none;
    }
    
    ul.TopNav li.SideNav {
        display: inline;
        float: right;
    }

    ul.responsive.TopNav {
        position: relative;
    }

    ul.TopNav.responsive li {
        display: inline;
        float: none;
    }

    ul.TopNav.responsive li a {
        display: block;
        text-align: left;
    }

    ul.TopNav.responsive li.SideNav {
        position: absolute;
        top: 0;
        right: 0;
    }
}