* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

header {
    background-color: coral;
    margin-bottom: 20px;
}

ul li {
    list-style: none;
    display: inline;
    padding: 80px;
}

ul li a {
    text-decoration: none;
    padding: 130px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: black;
}

@media print {
    header {
        display: none;
    }

    div p a {
        text-decoration: none;
    }
}