* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav {
    background-color: gold;
    width: 100%;
}

li {
    display: inline;
    list-style: none;
    padding: 20px 15px;
}

a {
    color: orange;
    text-decoration: none;
    text-align: center;
}

span {
    display: block;
    margin: 20px;
}

h1 {
    /*display: none; It hides and doesnt takes the space */
    visibility: hidden;/* Takes the space of the element and hides it */
}

/* list item */
/* inline-block */
/* table-item */